.container{
    display: flex;
    flex-direction: row;
    min-height: 100vh;
    height: 100%;
}

.col{
    display: flex;
    flex-direction: column;
}

.scrollable {
    height: 100%;
    margin: 0em;
    overflow-y: auto;
}